body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}


.precedent, .suivant {
    position: absolute;
    top: 130%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.precedent {
    left: 20px;
}
.suivant {
    right: 20px;
}

.image {
display: none;
width: 30%;
height: 50%;
object-fit: cover;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: white;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.competences {
    list-style: none;
    padding: 0;
    margin: 0;
}

.competences li {
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.competences li::before {
    content: "\2713";
    color: green;
    font-weight: bold;
    margin-right: 10px;
}


h1, h2 {
    color: maroon;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightskyblue;
}

.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projet {
    margin: 20px;
    width: calc(33,33% - 20px);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projet img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

label {
    margin-bottom: 10px;
}

input,textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid grey;
}

footer {
background-color: orange;
color: white;
padding: 1em;
text-align: center;
font-weight: bold;
}